@tailwind base;
@tailwind components;
@tailwind utilities;

.login .active{
    background-color: rgb(0, 0, 0);
    color: orange;
    font-size: large;
}
.delete{
    display: none;
}

.listcard:hover .delete{
    display: block;
}

ul .active{
    color: rgb(255, 136, 0);
}
.side:hover .type{
    display: none;
}

.category-card:hover .sidbar{
    transform: translateX(250px);
   transition: transform 0.5s;
}

.categorynav:hover .category-card .sidbar{
    transform: translateX(250px);
   transition: transform 0.5s;
};

